/images
/node_modules
/templates
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.env
.env_prod
bash.exe.stackdump